<!DOCTYPE html>
<head>
    <title>Overwatch | Single View</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Expires" content="0" />
</head>
<body onload="getCamera()">
    <div class="container">           
        <!-- camera grid  -->
        <div id="camera-grid">
        </div>        
        <button class="btn btn-secondary" onclick="history.back()">Back</button>
        <script>
            /**
             * calls backend API to reterieve list of cameras based on
             * passed in camera ID referencing camera list in session storage
             * */
            function getCamera(){
                let camId = undefined;
                let camList = sessionStorage.getItem('clist');
                if (camList == null) {
                    // if no camera ID is passed - return to main page
                    location.href='/';
                }else{
                    camList = JSON.parse(camList)
                    let urlParam = new URLSearchParams(window.location.search);
                    camId = urlParam.get('camid');
                    if (camId == undefined){
                        location.href='/';
                    }
                }
                // show camera
                ts = Date.now()
                cam = camList[camId]
                let camView = ' <div id="'+camId+'" class="card w-80 mx-auto"> \
                                    <h3 class="text-center">'+cam.friendly+'</h3>\
                                    <link rel="preload" href="'+cam.baseUrl+'?'+ts+'" as="image">\
                                    <img src="'+cam.baseUrl+'?'+ts+'" class="card-img-top" onError="hideMe(\''+camId+'\')"/>\
                                </div>'                                    
                document.getElementById('camera-grid').innerHTML += camView;
                setInterval(reloadCameras,60000);
            }

            /**
             * event handler for images that render in error
             * we just hide those...
             * */
            function hideMe(id){
                document.getElementById(id).style.display = 'none';
            }

            /**
             * refreshes #camera-grid to reload camera feeds
             * */
            function reloadCameras(){
                document.getElementById('camera-grid').innerHTML = "";                      
                getCamera(sessionStorage.getItem("clist"));
            }

        </script>
        

    </div>
</body>